<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>01</title>

    <!--引入vue-->
    <script type="text/javascript" src="../js/vue.js"></script>

</head>
<body>

    <!--准备容器-->
    <div id="root">
        <h1>name:{{name}}</h1>
        <hr>

        <!-- 遍历数组 -->
        <h2>人员列表</h2>
        <ul>
            <li v-for="(p,index) of persons" :key="index">
                {{p.name}}-{{p.age}}
            </li>
        </ul>

        <!-- 遍历对象 -->
        <h2>汽车信息</h2>
        <ul>
            <li v-for="(value,key) of car" :key="key">
                {{key}}--{{value}}
            </li>
        </ul>

        <!-- 测试遍历字符串 -->
        <h2>测试遍历字符串</h2>
        <ul>
            <li v-for="(char,key) of str" :key="key">
                {{key}}-{{char}}
            </li>
        </ul>

        <!-- 测试遍历指定次数 -->
        <h2>测试遍历指定次数</h2>
        <ul>
            <li v-for="(number,key) of 6" :key="key">
                {{key}}-{{number}}
            </li>
        </ul>
    </div>
</body>

<script type="text/javascript">
    Vue.config.productionTip=false

    const vm=new Vue({
        el:"#root",
        data:{
            name:"Gabrielle",
            persons:[
                {id:'001',name:'张三',age:18},
                {id:'002',name:'李四',age:30},
                {id:'003',name:'王五',age:50}
            ],
            car:{
                name:'奥迪A8',
                price:'70W',
                color:'Black'
            },
            str:'GABRIELLE'
        }
    })

    </script>
</html>