<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>03</title>

    <!--引入vue-->
    <script type="text/javascript" src="../js/vue.js"></script>

</head>
<body>
    <!-- 计算属性：
        1 要用的属性呢不存在，都要通过已有的属性计算得来
        2 底层借助Object.defineproperty方法提供的getter和setter
        3 get（）函数调用时期：
            i。初次读取fullName时
            ii。所依赖的数据发生变化时
        4 get（）与methods相比，内部有缓存机制（复用）效率更高 调用方便
        5 注：
            计算属性最终会出现在vm上 直接读取使用即可
            若要修改计算属性 必须使用set（）函数去响应修改 且set中要引起计算时依赖的数据发生


     -->



    <!--准备容器-->
    <div id="root">
        <div id="root">
            姓：<input type="text" v-model="firstName"><br/>
            名：<input type="text" v-model="lastName"><br/>
            全名：<span>{{fullName}}</span><br/>
            全名：<span>{{fullName}}</span><br/>
            全名：<span>{{fullName}}</span><br/>
            全名：<span>{{fullName}}</span><br/>
            全名：<span>{{fullName}}</span><br/>
        </div>
    </div>
</body>

<script type="text/javascript">
    Vue.config.productionTip=false

    const vm=new Vue({
        el:"#root",
        data:{//放属性
            name:"Gabrielle",
            firstName:"Russel",
            lastName:"Gabrielle",
        },
        computed:{//计算属性
            fullName:{
                //get:当读取fullName时，get就会被调用，返回值为fullName的值
                //get调用时期
                //        i。初次读取fullName时
                //        ii。所依赖的数据发生变化时

                // get（）有缓存、methods无缓存
                get(){
                    console.log('get被调用了')
                    console.log(this) //此处的this是vm
                    return this.firstName+'-'+this.lastName
                },
                methods:{
                    demo(){}
                },
                //get调用时期：当fullName被修改时
                set(value){
                    console.log('set',value)
                    const arr=value.split('-')
                    this.firstName=arr[0]
                    this.lastName=arr[1]
                }
            }
        }
    })

    </script>
</html>